obj/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
.vs/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
*.psess
*.vsp
*.vspx
$tf/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
_TeamCity*
*.dotCover
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
publish/
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj
 **/packages/*
 !**/packages/build/
 !**/packages/repositories.config
*.dll
*.pdb
*.nupkg
packages/
*sonarqube*
